body {
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 599px) {
  .headerCont {
    background-color: gray;
    margin-bottom: 1vh;
    height: 8vh;
    width: 100vw;
    padding: 5px;
    font-size: 20px;
    font-family: "Courier New", Courier, monospace;
  }
  .mainElements {
    margin-bottom: 1vh;
    margin-left: 0;
    padding-left: 0;
    font-size: 20px;
  }

  .content-a {
    background-color: #69c95d;
    height: 40vh;
    width: 100vw;
    padding: 5px;
  }

  .content-b {
    background-color: #08c92c;
    height: 23.5vh;
    width: 100vw;
    padding: 5px;
  }
  .content-c {
    background-color: yellow;
    height: 23.5vh;
    width: 100vw;
    padding: 5px;
  }

  .footerCont {
    background-color: gray;
    height: 10vh;
    width: 100vw;
    padding: 5px;
    font-size: 20px;
    font-family: "Courier New", Courier, monospace;
  }
}

@media screen and (min-width: 600px) {
  .mainCont {
    height: 100vh;
    width: 100vw;
  }
  .headerCont {
    background-color: gray;
    margin-bottom: 1vh;
    height: 10vh;
    width: 98vw;
    padding: 8px;
    font-size: 20px;
    font-family: "Courier New", Courier, monospace;
  }
  .mainElements {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 1vh;
    margin-left: 0;
    padding-left: 0;
    font-size: 20px;
  }

  .content-a {
    background-color: #69c95d;
    height: 49vh;
    width: 100vw;
    padding: 5px;
  }

  .content-b {
    display: inline-block;
    background-color: #08c92c;
    height: 23.5vh;
    width: 50%;
    padding: 5px;
    box-sizing: border-box;
    margin-right: 0;
  }
  .content-c {
    display: inline-block;
    background-color: yellow;
    height: 23.5vh;
    width: 50%;
    padding: 5px;
    box-sizing: border-box;
    margin-left: 0;
  }

  .footerCont {
    background-color: gray;
    height: 10vh;
    width: 98vw;
    padding: 8px;
    font-size: 20px;
    font-family: "Courier New", Courier, monospace;
  }
}

@media screen and (min-width: 992px) {
  .mainCont {
    height: 100vh;
    width: 100vw;
  }
  .headerCont {
    background-color: gray;
    margin-bottom: 1vh;
    height: 9vh;
    width: 99vw;
    padding: 8px;
    font-size: 50px;
    font-family: "Courier New", Courier, monospace;
  }
  .mainElements {
    display: flex;
    margin-bottom: 1vh;
    margin-left: 0;
    padding-left: 0;
    font-size: 50px;
  }

  .content-a {
    background-color: #69c95d;
    height: 75vh;
    width: 49.5vw;
    padding-top: 8px;
    padding-right: 8px;
    box-sizing: border-box;
  }

  .content-b {
    background-color: #08c92c;
    height: 75vh;
    width: 25vw;
    padding: 8px;
    order: -1;
    box-sizing: border-box;
  }
  .content-c {
    background-color: yellow;
    height: 75vh;
    width: 25vw;
    padding: 8px;
    box-sizing: border-box;
  }

  .footerCont {
    background-color: gray;
    height: 8vh;
    width: 99vw;
    padding: 8px;
    font-size: 50px;
    font-family: "Courier New", Courier, monospace;
  }
}
