body {
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 599px) {
  .headerCont {
    background-color: gray;
    margin-bottom: 1vh;
    height: 10vh;
    width: 100vw;
    padding: 8px;
    font-size: 50px;
    font-family: "Courier New", Courier, monospace;
  }
  .mainElements {
    margin-bottom: 1vh;
    margin-left: 0;
    padding-left: 0;
    font-size: 50px;
  }

  .content-a {
    background-color: #de2632;
    height: 24.5vh;
    width: 100vw;
    padding: 8px;
  }

  .content-b {
    background-color: #de9331;
    height: 24.5vh;
    width: 100vw;
    padding: 8px;
  }
  .content-c {
    background-color: yellow;
    height: 24.5vh;
    width: 100vw;
    padding: 8px;
  }

  .footerCont {
    background-color: gray;
    height: 10vh;
    width: 100vw;
    padding: 8px;
    font-size: 50px;
    font-family: "Courier New", Courier, monospace;
  }
}

@media screen and (min-width: 600px) {
  .mainCont {
    height: 100vh;
    width: 100vw;
  }
  .headerCont {
    background-color: gray;
    margin-bottom: 1vh;
    height: 10vh;
    width: 99vw;
    padding: 8px;
    font-size: 50px;
    font-family: "Courier New", Courier, monospace;
  }
  .mainElements {
    display: flex;
    margin-bottom: 1vh;
    margin-left: 0;
    padding-left: 0;
    font-size: 50px;
  }

  .content-a {
    background-color: #de2632;
    height: 39.2vh;
    width: 48vw;
    padding: 8px;
  }

  .content-b {
    background-color: #de9331;
    height: 39.2vh;
    width: 48vw;
    padding: 8px;
  }
  .content-c {
    background-color: yellow;
    height: 80.5vh;
    width: 50vw;
    padding: 8px;
  }

  .footerCont {
    background-color: gray;
    height: 10vh;
    width: 99vw;
    padding: 8px;
    font-size: 50px;
    font-family: "Courier New", Courier, monospace;
  }
}

@media screen and (min-width: 992px) {
  .mainCont {
    height: 100vh;
    width: 100vw;
  }
  .headerCont {
    background-color: gray;
    margin-bottom: 1vh;
    height: 9vh;
    width: 98.7vw;
    padding: 8px;
    font-size: 50px;
    font-family: "Courier New", Courier, monospace;
  }
  .mainElements {
    display: flex;
    margin-bottom: 1vh;
    margin-left: 0;
    padding-left: 0;
    font-size: 50px;
  }

  .content-a {
    background-color: #de2632;
    height: 38.5vh;
    width: 74vw;
    padding: 8px;
  }

  .content-b {
    background-color: #de9331;
    height: 38.5vh;
    width: 74vw;
    padding: 8px;
  }
  .content-c {
    background-color: yellow;
    height: 79vh;
    width: 23.5vw;
    padding: 8px;
  }

  .footerCont {
    background-color: gray;
    height: 9vh;
    width: 98.7vw;
    padding: 8px;
    font-size: 50px;
    font-family: "Courier New", Courier, monospace;
  }
}
